 <include file="Public/header" /> 
<script type="text/javascript">
	$(document).ready(function() {
		$.formValidator.initConfig({
			autotip : true,
			formid : "basic_validate",
			onerror : function(msg) {
			}
		});
		$("#rolename").formValidator({
			onshow : "请输入角色名",
			onfocus : "请输入角色名"
		}).inputValidator({
			min : 1,
			onerror : "请输入角色名！"
		});
		$("#remark").formValidator({
			onshow : "请输入角色描述",
			onfocus : "请输入角色描述"
		}).inputValidator({
			min : 1,
			onerror : "请输入角色描述！"
		});
	});
</script>
<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>添加节点</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> 添加节点 <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">


				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-pencil"></i></span>
						<h5>添加节点</h5>
						<span class="label btn-primary"><i
							class=" icon-list-alt icon-white"></i> 节点管理</span>
					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post" action=""
							name="myform" id="myform">
							<input type="hidden" name="dosubmit" value="1" />
							<input type="hidden" name="level" value="{$level}" />
							<in name="level" value="2,3">
							<input type="hidden" name="pid" value="{$pid}" />
							<div class="control-group">
                                        <label class="control-label">上级节点</label>
                                        <div class="controls">
                                            <label>{$node_parent_info.title} </label>
                                        </div>
                                    </div>
							</in>

							<div class="control-group">
								<label class="control-label">节点名称</label>
								<div class="controls">
									<input type="text" name="name" id="nodename" value="" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">节点标题</label>
								<div class="controls">
									<input type="text" name="title" id="nodetile" value="" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">节点URL</label>
								<div class="controls">
									<input type="text" name="url" id="nodeurl" value="" />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">节点描述</label>
								<div class="controls">
									<input type="text" name="remark" value="" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">状态</label>
								<div class="controls">
									<label><input type="radio" name="status" value="1"
										checked />启用</label> <label><input type="radio" name="status"
										value="0" />停用</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">排序</label>
								<div class="controls">
									<input type="text" name="sort" value="{$sort}" />
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" value="保存" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>


<include file="Index:footer" />


