<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
	
		<div id="content">
			<div id="content-header">
				<h1>多选卡管理</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('Checkcard/Index')}" class="current">多选卡管理</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
            
				<div class="row-fluid">
					<div class="span12">
                    	<div class="sousuo">
                        <form class="form-horizontal" action="" method="post" id="searchform">
                     
                        <table rules="none" border="0">
                            <tbody>
                            	<tr>
                                	<td class="searchselect">
                                    <select name="pid" style="width:100px;">
                                    	<option value="">渠道</option>
                                        <foreach name="channelslist" item="v">
                                        <option value="{$v.id}" <?php if($v['id']==$pid) echo 'selected'; ?>>{$v.dealer_name}</option>
                                        </foreach>
                                    </select>
                                    </td>
                                    <td class="searchselect">
                                    <select name="cid" style="width:100px;">
                                    	<option value="">类别</option>
                                        <foreach name="checktypelist" item="vc">
                                        <option value="{$vc.id}" <?php if($vc['id']==$cid) echo 'selected'; ?>>{$vc.type_name}</option>
                                        </foreach>
                                    </select>
                                    </td>
                                    <td style="padding-right:0" >
                                    <input type="text" name="cardid"  value="<?php if($cardid){ echo $cardid;}else{ echo '卡号';} ?>" onBlur="blur_input(this,'卡号')" onClick="click_input(this,'卡号')">
                                    </td>
                                    <td style="padding-right:0" >
                                    <input type="text" name="cardpass"  value="<?php if($cardpass){ echo $cardpass;}else{ echo '密码';} ?>" onBlur="blur_input(this,'密码')" onClick="click_input(this,'密码')">
                                    </td>
                                    <td style="padding-right:0" >
                                    <input type="text" name="batch"  value="<?php if($batch){ echo $batch;}else{ echo '批次';} ?>" onBlur="blur_input(this,'批次')" onClick="click_input(this,'批次')">
                                    </td>
                                    <td style="padding-right:0">
                                    <input type="text" name="source"  value="<?php if($source){ echo $source;}else{ echo '来源';} ?>" onBlur="blur_input(this,'来源')" onClick="click_input(this,'来源')">
                                    </td>
                                    <td style="padding-right:0">
                                    <input type="text" name="startdate" value="<?php if($startdate){ echo $startdate;}else{ echo '开始日期';} ?>"  data-date-format="yyyy-mm-dd" class="datepicker">
                                    </td>
                                    <td>-</td>
                                    <td>
                                    <input type="text" name="enddate"  value="<?php if($enddate){ echo $enddate;}else{ echo '结束日期';} ?>" data-date-format="yyyy-mm-dd" class="datepicker">
                                    </td>
                                    <td>
                                    <button class="btn btn-success" onClick="javascript:$('#searchform').submit();"><i class="icon-search icon-white"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                        </form>
                        </div>
                        <div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-leaf"></i></span>
								<h5>多选卡管理</h5>
                          
                                <a href="{:U('Export/checkcard',array('pid'=>$pid,'type'=>$type,'batch'=>$batch,'source'=>$source,'startdate'=>$startdate,'enddate'=>$enddate,'cid'=>$cid))}" class="phonenone"><span class="label btn-warning"><i class=" icon-download-alt icon-white"></i> 导出</span></a>
                               
                              	<a href="{:U('Checkcardtype/Index')}"><span class="label btn-success"><i class="icon-plus icon-white"></i> 管理多选卡分类</span></a>
                                <a href="{:U('Checkcard/Edit')}"><span class="label btn-success"><i class="icon-plus icon-white"></i> 生成多选卡</span></a>
                                
							</div>
							<div class="widget-content">
                            	<div class="cont_max">
								<table class="table table-bordered table-striped with-check" id="maxtable">
									<thead>
										<tr>
                                        	<th>id</th>
											<th>卡号</th>
											<th>密码</th>
											<th>来源</th>
                                            <th>创建时间</th>
                                            <th>过期时间</th>
                                            <th>类别</th>
                                            <th>计费点</th>
                                            <th>用户ID</th>
                                            <th>使用时间</th>
                                             <th>状态</th>
                                            <th width="40" class="taskOptions">删除</th>
                                            
										</tr>
									</thead>
									<tbody>
                                    <foreach name="checkcardlist" item="row">
										<tr>
                                        	<td>{$row.id}</td>
											<td>{$row.card_id}</td>
											<td>{$row.card_pass}</td>
											<td>{$row.source}</td>
                                            <td><if condition="$row['create_time']">{$row.create_time|date='Y-m-d',###}</if></td>
                                            <td><if condition="$row['expire_time']">{$row.expire_time|date='Y-m-d',###}</if></td>
                                            <td>{$row.type_name}</td>
                                            <td>{$row.chargepoint_name}</td>
                                            <td>{$row.charge_to_account_id}</td>
                                            <td><if condition="$row['charge_time']">{$row.charge_time|date='Y-m-d',###}</if></td>
                                            <td><?php if($row['valid']=='1'){ echo '<span class="green">正常</span>'; }else{ echo '<span class="red">异常</span>';} ?></td>
                                           
                                           
                                            <td class="taskOptions">
                                                <a href="javascript:;" onClick="javascript:ConfirmDel('{:U('Delete/checkcard',array('id'=>$row['id']))}');" class="tip-top" data-original-title="Delete" title="Delete"><i class="icon-remove"></i></a>
                                            </td>
                                            
										</tr>
                                    </foreach>										
									</tbody>
								</table>
                                </div>	
                                <div class="pagination" style="text-align:center">{$pages}</div>	  					
							</div> 
						</div>
                        
					</div>
				</div>
				

				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
                
			</div>
		</div>


<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		$('.datepicker').datepicker();
	});
	$(document).ready(function(e) {
		tableresize(1600);
	});
	$(window).resize(function(e){
		tableresize(1600);
	});
</script>
<include file="Public/footer" />
