<include file="Public/header" />
<link rel="stylesheet" href="__HTML__/css/uniform.css" />
<div id="content">
	<div id="content-header">
		<h1>后台管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Admin/index')}"
			class="current">管理员列表</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="sousuo">
					<form class="form-horizontal" action="" method="post"
						id="searchform">
						<table rules="none" border="0">
							<tbody>
								<tr>
									<td class="searchselect"><select name="roleid">
											<option value="">角色</option>
											<foreach name="role_data" item="row">
											<option value="{$row.id}"
												<if condition="$user_wh['roleid'] eq $row['id']">selected</if>
												>{$row.remark}
											</option>
											</foreach>
									</select></td>
									<td style="padding-right: 0" class="searchselect"><input
										type="text" name="username"
										value="<php> if(isset($user_wh['username'])){ echo $user_wh['username'];}else{ echo '用户名';} </php>"
										onBlur="blur_input(this,'用户名')"
										onClick="click_input(this,'用户名')"></td>
									<td style="padding-right: 0" class="searchselect"><input
										type="text" name="nickname"
										value="<php> if(isset($user_wh['nickname'])){ echo $user_wh['nickname'];}else{ echo '使用者';} </php>"
										onBlur="blur_input(this,'使用者')"
										onClick="click_input(this,'使用者')"></td>
									<td>
										<button class="btn btn-success"
											onClick="javascript:$('#searchform').submit();">
											<i class="icon-search icon-white"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i>
						</span>
						<h5>管理员列表</h5>

						<a href="{:U('Admin/add')}"><span class="label btn-success"><i
								class="icon-plus icon-white"></i> 新增管理员</span></a>
					</div>
					<div class="widget-content">
						<div class="cont_max">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th>用户名</th>
										<th>使用者</th>
										<th>手机号</th>
										<th>Email</th>
										<th>最近登陆时间</th>
										<th>角色</th>
										<th width="40" class="taskOptions">密码</th>
										<th width="40" class="taskOptions">编辑</th>
										<th width="40" class="taskOptions">删除</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="list" item="row">
									<tr>
										<td>{$row.username}</td>
										<td>{$row.nickname}</td>
										<td>{$row.mobile}</td>
										<td>{$row.email}</td>
										<td><if condition="$row['update_time']">{$row.update_time|date='Y-m-d
											H:i:s',###}</if></td>
										<td>{$row.role_remark}</td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Admin/password',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="修改密码"><i
												class="icon-lock"></i></a></td>


										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Admin/edit',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="修改资料"><i
												class="icon-pencil"></i></a></td>


										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:ConfirmDel('{:U('Admin/delete',array('id'=>$row['id']))}');"
											class="tip-top" data-original-title="Delete" title="删除用户"><i
												class="icon-remove"></i></a></td>
									</tr>
									</foreach>
								</tbody>
							</table>
						</div>
						<div class="pagination" style="text-align: center">{$page}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script>
	$(document).ready(function(e) {
		tableresize(900);
	});
	$(window).resize(function(e){
		tableresize(900);
	});
</script>
<include file="Public/footer" />
