<include file="header" />
<body>
<link href="__HTML__/upload/uploadify.css" rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="__HTML__/upload/jquery.uploadify.min.js?<?php echo date("U")?>"></script>
<script type="text/javascript"> 
   $(function() {
	   $("#upfile").uploadify({
			"formData"       : {
				"timestamp" : "<php>echo time();</php>",
				"dosubmit"     : "<php> echo md5(time());</php>",
				"model" :"<php>echo $model</php>",
				"param_field" :"<php>echo $param_val</php>"
			},
			"swf"             : "__HTML__/upload/uploadify.swf",
			"uploader"        : "{:U(DsyAttachment/img_upload)}",
			"width"           : 75,
			"height"          : 28,
			"queueID"         : "uploadfilelist",
			"buttonText"      : "",
			"buttonImage"     : "__HTML__/img/btn/selectfile.png",
			"fileTypeExts"    : "*.jpg; *.jpeg; *.gif; *.png",
			"fileDesc"        : "Web Image Files(.JPG,.GIF,.PNG)",
			"auto"            : false,
			"multi"           : true,
			"method"          : "post",
			"onQueueComplete" : function() {
				$('#uploadfilelist').hide();
				showfile();	
			},
			"onDialogOpen"    : function() {
				$('#uploadfilelist').show();
			},
			"onUploadSuccess" : function(f, svr, rs) {
				if (rs) {
					alert(svr);
					var data = eval('(' + svr + ')');
					if (data.rs == 0) {	
						var filetext = '<li><div class="imgdiv" style="background:#fafafa;"><div class="select" style="display:block"></div><div class="outline"><img src="' + data.thumb + '" width="80" height="60" /></div></div><div style="display:none;"><input type="checkbox" checked="checked" name="upfile" value="' + data.id + '" /><input type="checkbox" checked="checked" name="upfilesimurl" value="' + data.thumb + '" /><input type="checkbox" checked="checked" name="upfilebigurl" value="' + data.imgurl + '" /></div></li>';
						$("#showfilelist").append(filetext);
					} else {
						alert("文件" + f.name + "未能成功上传：" + data.msg);
					}
				} else {
					alert("文件" + f.name + "未能成功上传：服务器未响应！");	
				}
			}
		});
   
   setTimeout(function(){
	   $("#upfile").uploadify('settings', 'multi', art.dialog.data("multi")?true:false);
   },300);
   });
   
   // 关闭并返回数据到主页面
   
</script>
<table width="100%" rules="none" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding:10px;">
        <div id="nav">
            <div class="list">
        	<ul>
            	<li class="ing"><a href="{:U('DsyAttachment/img_upload',array('model'=>$model,'param_field'=>$param_val))}">上传图片</a></li>
                <li><a href="{:U('DsyAttachment/index',array('model'=>$model,'param_field'=>$param_val))} ">已上传的</a></li>
            </ul>
            </div>
        </div> 
        <div id="content">
        <table width="100%" rules="none" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding:10px;">
                <div class="uploaddiv"><input type="file" id="upfile" name="uploadfile" /></div>
                <div class="beginbtn" onClick="javascript: $('#upfile').uploadify('upload','*');">开始上传</div>      
                </td>
                <!--<td align="right" style="padding-right:4px;">图片标签：<input type="text" class="input-text" /></td>-->
            </tr>
            <tr>
                <td style="padding:0px 10px; font-family:Arial, Helvetica, sans-serif;" colspan="2">
                支持 jpg、jpeg、gif、png 格式。
                </td>
            </tr>
            <!--
            <tr>
                <td style="padding:5px 10px 10px 7px; font-family:Arial, Helvetica, sans-serif;">
                <input type="checkbox" class="inputcheckbox" value="1" > <label>是否加水印</label>
                </td>
            </tr>
            -->
            <tr>
            	<td style="padding:20px 10px 10px 10px;" colspan="2">
                <div class="newliet">
                	<div class="newtitle">列表</div>
                </div>
                </td>
            </tr>
            <tr>
                <td style="padding:5px 10px 10px 10px;" colspan="2">
                <div id="uploadfilelist"></div>
                <div id="filelist"><ul id="showfilelist"></ul></div>
                
                </td>
            </tr>
        </table>
        </div> 
        </td>
    </tr>
</table>   
</body>
</html>
