<include file="Public/header" />
 <script type="text/javascript">
	$(document).ready(function(){
		$.formValidator.initConfig({autotip:true,formid:"basic_validate",onerror:function(msg){}});
		$("#pid").formValidator({onshow:"请输入渠道！",onfocus:"请输入渠道！"}).inputValidator({min:1,onerror:"请输入渠道！"});
		$("#product").formValidator({onshow:"请输入产品类型！",onfocus:"请输入产品类型！"}).inputValidator({min:1,onerror:"请输入产品类型！"});
		$("#client_type").formValidator({onshow:"请输入设备类型！",onfocus:"请输入设备类型！"}).inputValidator({min:1,onerror:"请输入设备类型！"});
	});
</script>
<link rel="stylesheet" href="__HTML__/css/uniform.css" />

		<div id="content">
			<div id="content-header">
				<h1>添加渠道LOGO</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('System/pid_logo')}" class="current">渠道LOGO管理</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12"> 
                        
						<div class="widget-box">
							<div class="widget-title">
                            	<span class="icon"><i class="icon-pencil"></i></span>
								<h5>添加渠道LOGO</h5>
                             	<a href="{:U('System/pid_logo')}"><span class="label btn-primary"><i class=" icon-list-alt icon-white"></i> 渠道LOGO管理</span></a>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" method="post" action="{:U('System/pid_logo_edit')}" name="basic_validate" id="basic_validate" enctype="multipart/form-data" novalidate >
                                <input type="hidden" name="dosubmit" value="1" />
                                <input type="hidden" name="editdate" value="{$logo_url}" />
                                	<div class="control-group">
                                        <label class="control-label">logo_url</label>
                                        <div class="controls">
                                            <input type="file" name="logo_url" id="logo_url"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">渠道</label>
                                        <div class="controls">
                                        	<foreach name="pid_list" item="row">
												<div class="gameunit"><input type="checkbox" id="pid" name="info[pid][]" value="{$row.pid}" <?php if($logo_url != ''){if(in_array($row['pid'],$pid)){ echo 'checked';}} ?> />{$row.pid}</div>
											</foreach>
                                        </div>
                                    </div>
                                    <div class="control-group">
										<label class="control-label">产品</label>
										<div class="controls">
											<div class="gameunit"><input type="checkbox" id="product" name="info[product][]" value="0" <?php if($logo_url != ''){if(in_array('0',$product)){ echo 'checked';}} ?>/>大厅</div>
											<div class="gameunit"><input type="checkbox" id="product" name="info[product][]" value="1" <?php if($logo_url != ''){if(in_array('1',$product)){ echo 'checked';}} ?>/>擂台</div>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">设备类型</label>
										<div class="controls">
											<div class="gameunit"><input type="checkbox" id="client_type"  name="info[client_type][]" value="0" <?php if($logo_url != ''){if(in_array('0',$client_type)){ echo 'checked';}} ?>/>android</div>
											<div class="gameunit"><input type="checkbox" id="client_type"  name="info[client_type][]" value="1" <?php if($logo_url != ''){if(in_array('1',$client_type)){ echo 'checked';}} ?>/>win32</div>
										</div>
									</div>
                                    <div class="form-actions">
                                        <input type="submit" value="保存" class="btn btn-primary" />
                                    </div>
                                </form>
							</div>
						</div>			
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
			</div>
		</div>
		
		
            
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>

            
<include file="Public/footer" />