<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
	
		<div id="content">
			<div id="content-header">
				<h1>排队列表</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('Arena/arena_battle')}" class="current">战斗列表</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
                
				<div class="row-fluid">
					<div class="span12">
							<div class="sousuo">
	                        <form class="form-horizontal" action="" method="post" id="searchform">
	                      
	                        <table rules="none" border="0">
	                            <tbody>
	                            	<tr>
	                                    <td class="searchselect">
	                                    <select name="id">
	                                        <option value="">擂台</option>
	                                        <volist name='arenalist' id="vo">
											<option value="{$vo.id}" <php>if($id == $vo['id']){echo "selected";}</php> >{$vo.arena_name}</option>
											</volist>
	                                    </select>
	                                    </td>
	                                    <td style="padding-right:0">
	                                    <input type="text" name="account_id"  value="<?php if($account_id){ echo $account_id;}else{ echo 'ACCOUNT_ID';} ?>" onBlur="blur_input(this,'ACCOUNT_ID')" onClick="click_input(this,'ACCOUNT_ID')">
	                                    </td>
	                                    <td>
	                                    <button class="btn btn-success" onClick="javascript:$('#searchform').submit();"><i class="icon-search icon-white"></i></button>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>    
	                        </form>
	                        </div>  
                        <div class="widget-box">  
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>排队列表</h5>
							</div>
							<div class="widget-content">
                            	<div class="cont_max" id="table_sort">
								<table class="table table-bordered table-striped with-check" id="maxtable" >
									<thead>
										<tr>
                                            <th width="50">ID</th>
                                            <th width="100">擂台</th>
											<th width="80">排队人ID</th>
                                            <th width="240">排队人</th>
                                            <th width="50">排队时间</th>
										</tr>
									</thead>
									<tbody>
                                    <foreach name="queuelist" item="row">
										<tr>
                                            <td>{$row.id}</td>
                                            <td>{$row.arena_name}</td>
											<td>{$row.account_id}</td>
                                            <td>{$row.account_name}</td>
                                            <td><php>echo date("Y-m-d H:i:s",$row['enqueue_time']);</php></td>
										</tr>
                                    </foreach>										
									</tbody>
								</table>	
                                </div>
                                <div class="pagination" style="text-align:center">{$pages}</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
                
			</div>
		</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		tableresize(1400);
	});
	$(window).resize(function(e){
		tableresize(1400);
	});

</script>       
<include file="Public/footer" />
