<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<script src="__HTML__/js/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg,  //don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                         //set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                                var arenaid = '<?php echo $id;?>';
                                $.ajax({
							    	datatype: "json",
									url:'__ROOT__/op.php?m=Arena&a=arena_audience_nums',
									async: false,
									data:{"id":arenaid},
									success: function(jsondata){
										jsondata = eval("("+jsondata+")"); //把数据处理成json格式
										var i = jsondata.length - 1;
										var x = jsondata[i][1] * 1000,  //current time
											y = parseInt(jsondata[i][0]);
										series.addPoint([x, y], true, true);	
									}
							    });
                        }, 15000);  //每15秒读一次最新数据
                    }
                }
            },
            title: {
                text: '擂台观众人数'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 0);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            credits: {  
                    enabled: false     //去掉highcharts网站url  
                } ,
            series: [{
                name: '观众人数',
                data: (function () {
                //generate an array of random data
                    	var data = [],
					        i;
					    var arenaid = '<?php echo $id;?>';
					    $.ajax({
					    	datatype: "json",
							url:'__ROOT__/op.php?m=Arena&a=arena_audience_nums',
							async: false,
							data:{"id":arenaid},
							success: function(jsondata){
								jsondata = eval("("+jsondata+")"); //把数据处理成json格式
								for( i = 0 ; i < jsondata.length; i++){
					                data.push({
					                    "x": jsondata[i][1] * 1000,  //js 时间戳为毫秒
					                    "y": parseInt(jsondata[i][0])
					                });    
					            }	
							}
					    });
					    return data;
                }())
            }]
		});
		//每三秒读一次列表数据
        setInterval(get_data,3000);
	});
});

function get_data(){
	var arenaid = '<?php echo $id;?>';
	$.getJSON('__ROOT__/op.php?m=Arena&a=arena_data',{"id":arenaid},function(data){
		$("#arena_name").html(data[0]["arena_name"]);
		$("#player1").html(data[0]["player1"]);
		$("#player2").html(data[0]["player2"]);
		$("#name1").html(data[0]["name1"]);
		$("#name2").html(data[0]["name2"]);
		$("#player_status1").html(get_status(data[0]["status1"]));
		$("#player_status2").html(get_status(data[0]["status2"]));
		$("#support1").html(data[0]["support1"]);
		$("#support2").html(data[0]["support2"]);
		$("#queue_nums").html(data[0]["queue_nums"]);
		$("#hot").html(data[0]["hot"]);
	});
}

function get_status( status ){
	switch(status){
		case '-1':
			return '空缺';
		case '0':
			return '在线';
		case '1':
			return '已经分配,但还未连上GS';
		case '2':
			return '用户离开';
		case '5':
			return '用户断线';
	}
}
</script>	
		<div id="content">
			<div id="content-header">
				<h1>擂台实时数据</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('Arena/index')}" class="current">擂台列表</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
                
				<div class="row-fluid">
					<div class="span12"> 
						
						<div id="container" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
					 
                    	<div class="sousuo">
                        <form class="form-horizontal" action="" method="post" id="searchform">
                       
                        <table rules="none" border="0">
                            <tbody>
                            	<tr>
                                    <td class="searchselect">
                                    <select name="id">
                                        <option value="">擂台</option>
                                        <volist name='arenalist' id="vo">
										<option value="{$vo.id}" <?php if($id == $vo['id']){ echo 'selected';} ?>>{$vo.arena_name}</option>
										</volist>
                                    </select>
                                    </td>
                                    <td>
                                    <button class="btn btn-success" onClick="javascript:$('#searchform').submit();"><i class="icon-search icon-white"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                        </form>
                        </div>
                        <div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>擂台实时数据</h5>
							</div>							
							<div class="widget-content">
                            	<div class="cont_max" id="table_sort">
								<table class="table table-bordered table-striped with-check" id="maxtable" >
									<thead>
										<tr>
                                            <th width="50">擂台名称</th>
                                            <th width="100">台上选手</th>
                                            <th width="100">台上状态</th>
                                            <th width="100">支持人数</th>
                                            <th width="100">队列人数</th>
                                            <th width="100">观众人数</th>
										</tr>
									</thead>
									<tbody>
                                    <tr>
                                        <td><span id="arena_name"></span></td>
										<td>player1:<span id="player1"></span>,name1:<span id="name1"></span><br />
											player2:<span id="player2"></span>,name2:<span id="name2"></span></td>
                                        <!--<td>player_status1:<php>if($row['status1'] == -1){ echo '空缺';}elseif($row['status1'] == 0){echo '在线';}elseif($row['status1'] == 1){echo '已经分配但还未连上GS';}elseif($row['status1'] == 2){echo '用户离开';}elseif($row['status1'] == 5){echo '用户断线';}</php><br />
											player_status2:<php>if($row['status2'] == -1){ echo '空缺';}elseif($row['status2'] == 0){echo '在线';}elseif($row['status2'] == 1){echo '已经分配但还未连上GS';}elseif($row['status2'] == 2){echo '用户离开';}elseif($row['status2'] == 5){echo '用户断线';}</php>
										</td>-->
										<td>player_status1:<span id="player_status1"></span><br />
											player_status2:<span id="player_status2"></span>
										</td>
                                        <td>player1:<span id="support1"></span><br />
											player2:<span id="support2"></span></td>
                                        <td><span id="queue_nums"></span></td>
                                        <td><span id="hot"></span></td>
									</tr>									
									</tbody>
								</table>	
                                </div>
                                <div class="pagination" style="text-align:center">{$pages}</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
                
			</div>
		</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		tableresize(1400);
	});
	$(window).resize(function(e){
		tableresize(1400);
	});

</script>       
<include file="Public/footer" />
