<include file="Public/header" />
<script type="text/javascript">
	$(document).ready(function() {
		$.formValidator.initConfig({
			autotip : true,
			formid : "basic_validate",
			onerror : function(msg) {
			}
		});
		$("#device_name").formValidator({
			onshow : "请输入名称!",
			onfocus : "请输入名称!"
		}).inputValidator({
			min : 1,
			onerror : "请输入名称!"
		});
		$("#hardware").formValidator({
			onshow : "请输入硬件信息!",
			onfocus : "请输入硬件信息!"
		}).inputValidator({
			min : 1,
			onerror : "请输入硬件信息!"
		});
		$("#product").formValidator({
			onshow : "请输入商品信息",
			onfocus : "请输入商品信息!"
		}).inputValidator({
			min : 1,
			onerror : "请输入商品信息!"
		});
		$("#model").formValidator({
			onshow : "请输入型号!",
			onfocus : "请输入型号!"
		}).inputValidator({
			min : 1,
			onerror : "请输入型号!"
		});
		$("#manu").formValidator({
			onshow : "请输入制造商!",
			onfocus : "请输入制造商!"
		}).inputValidator({
			min : 1,
			onerror : "请输入制造商!"
		});
	});
</script>
<link rel="stylesheet" href="__HTML__/css/uniform.css" />
<link rel="stylesheet" href="__HTML__/css/jquery-calendar.css" />
<div id="content">
	<div id="content-header">
		<h1>编辑游戏信息</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Arena/arena_game')}"
			class="current">游戏管理</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-pencil"></i></span>
						<h5>编辑游戏信息</h5>
						<a href="{:U('Arena/arena_game')}"><span
							class="label btn-primary"><i
								class=" icon-list-alt icon-white"></i> 游戏管理</span></a>
					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post"
							action="{:U('Arena/arena_game_edit')}" name="basic_validate"
							id="basic_validate" enctype="multipart/form-data" novalidate>
							<input type="hidden" name="dosubmit" value="1" /> <input
								type="hidden" name="editdate" value="{$row.game_id}" />
							<div class="control-group">
								<label class="control-label">游戏</label>
								<div class="controls">
									<select name="info[game_id]" id="type">
										<volist name="gamelist" id="data">
										<option value="{$data.game_id}"
											<php>if($row['game_id'] == $data['game_id']){echo
											'selected';}</php>
											>{$data.game_name}
										</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">擂台游戏图片</label>
								<div class="controls">
									<input type="file" name="game_pic" id="game_pic" value="请选择文件"
										onblur="check_files(this)" /><br> <span
										id='game_pic_up_file'></span>
									<php>if($row['game_pic'] != ''){echo '<img
										src="'.$row['game_pic'].'@100w_50h.jpg" />';}</php>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">擂台背景图片</label>
								<div class="controls">
									<input type="file" name="bg_pic" id="bg_pic" value="请选择文件"
										onblur="check_files(this)" /><br> <span
										id='bg_pic_up_file'></span>
									<php>if($row['bg_pic'] != ''){echo '<img
										src="'.$row['bg_pic'].'@100w_50h.jpg" />';}</php>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">状态</label>
								<div class="controls">
									<label style="display: inline !important;"><input
										type="radio" name="info[game_status]" value="1"
									<php>if($row['game_status'] == 1){echo 'checked';}</php>/>启用</label> <label
										style="display: inline !important;"><input
										type="radio" name="info[game_status]" value="0"
									<php>if($row['game_status'] == 0){echo 'checked';}</php>/>关闭</label> <label
										style="display: inline !important;"><input
										type="radio" name="info[game_status]" value="2"
									<php>if($row['game_status'] == 2){echo 'checked';}</php>/>敬请期待</label>
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" value="保存" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script src="__HTML__/js/jquery-calendar.js"></script>
<script type="text/javascript">
	//验证存档文件类型	
	function check_files(obj) {
		var gamesave = $("#" + obj.id).val();
		//文件类型  图片 格式
		var regfile = /^.+\.(jpg|png|bmp|jpeg)$/;
		if (gamesave == "") {
			$('#' + obj.id + "_up_file").html(
					"<font color='red'>请选择一个存档文件</font>");
			flag4 = 0;
			return false;
		}
		if (!regfile.test(gamesave)) {
			$('#' + obj.id + "_up_file").html(
					"<font color='red'>文件格式必须为.(jpg|png|bmp|jpeg)！</font>");
			flag4 = 0;
			return false;
		}
		$('#' + obj.id + "_up_file").html("<font color='green'>√</font>");
		flag4 = 1;
		return true;
	}
</script>

<include file="Public/footer" />