<include file="Public/header" />
<link rel="stylesheet" href="__HTML__/css/uniform.css" />
<div id="content">
	<div id="content-header">
		<h1>擂台列表</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Arena/index')}"
			class="current">擂台列表</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="sousuo">
					<form class="form-horizontal" action="" method="post"
						id="searchform">

						<table rules="none" border="0">
							<tbody>
								<tr>
									<td class="searchselect">
									<select name="status">
										<option value="">状态</option>
										<option value="1"<?php if($status==1){ echo 'selected';} ?>>启用</option>
										<option value="0"<?php if($status==0){ echo 'selected';} ?>>禁用</option>
									</select>
									</td>
									<td class="searchselect">
										<select name="game_id">
											<option value="">游戏</option>
											<volist name='gamelist' id="vo">
											<option value="{$vo.game_id}" <php>if($vo['game_id'] == $game_id){ echo 'selected';}</php> >{$vo.game_name}</option>
											</volist>
										</select>
									</td>
									<td class="searchselect">
										<select name="region_id">
											<option value="">渠道</option>
											<volist name='regionlist' id="vo">
											<option value="{$vo.id}" <php>if($vo['id'] == $region_id){ echo 'selected';}</php>>{$vo.name}</option>
											</volist>
										</select>
									</td>
									<td style="padding-right: 0"><input type="text" name="gs_id" value="<?php if($gs_id){ echo $gs_id;}else{ echo 'GSID';} ?>" onBlur="blur_input(this,'GSID')" onClick="click_input(this,'GSID')"></td>
									<td style="padding-right: 0"><input type="text" name="gs_ip" value="<?php if($gs_ip){ echo $gs_ip;}else{ echo 'GSIP';} ?>" onBlur="blur_input(this,'GSIP')" onClick="click_input(this,'GSIP')"></td>
									<td>
									<button class="btn btn-success"onClick="javascript:$('#searchform').submit();"><i class="icon-search icon-white"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i>
						</span>
						<h5>擂台列表</h5>

						<a href="{:U('Arena/arena_edit')}"><span
							class="label btn-success"><i class="icon-plus icon-white"></i>
								新增擂台</span></a>

					</div>
					<div class="widget-content">
						<div class="cont_max" id="table_sort">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th width="50">ID</th>
										<th width="80">擂台名</th>
										<th width="240">所属游戏</th>
										<th width="50">擂台状态</th>
										<th width="50">最低级别</th>
										<th width="100">擂台图片</th>
										<th width="100">擂台参战人数</th>
										<th width="50">擂台排队人数</th>
										<th width="50">所属区域</th>
										<th width="50">gsd_id</th>
										<th width="100">gs_id</th>
										<th width="100">gs_ip</th>
										<th width="100">gs_port</th>
										<th width="100">gs_pid</th>
										<th width="100">gs_last_hb_time</th>
										<th width="100">开启时间</th>
										<th width="100">关闭时间</th>
										<th width="100">直播的URL</th>

										<th width="40" class="taskOptions">编辑</th>
										<th width="100">擂主列表</th>
										<th width="100">评论列表</th>
										<th width="100">排队列表</th>
										<th width="100">擂台实时数据</th>

									</tr>
								</thead>
								<tbody>
									<foreach name="arenalist" item="row">
									<tr>
										<td>{$row.id}</td>
										<td>{$row.arena_name}</td>
										<td>{$row.game_name}</td>
										<td><php>if($row['status']==1){echo "启用";}else{echo
											'关闭';}</php></td>
										<td>{$row.min_skill_level}</td>
										<td>{$row.arena_pic}</td>
										<td>{$row.max_player}</td>
										<td>{$row.max_queue_num}</td>
										<td>{$row.region_name}</td>
										<td>{$row.gsd_id}</td>
										<td>{$row.gs_id}</td>
										<td>{$row.gs_ip}</td>
										<td>{$row.gs_port}</td>
										<td>{$row.gs_pid}</td>
										<td>{$row.gs_last_hb_time}</td>
										<td><php>if($row['open_time'] != 0){echo
											$row['open_time'];}</php></td>
										<td><php>if($row['open_time'] != 0){echo
											$row['close_time'];}</php></td>
										<td>{$row.live_url}</td>

										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Arena/arena_edit',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-pencil"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Arena/arena_rank',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-list-alt"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='#';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-list-alt"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Arena/arena_queue',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-list-alt"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Arena/arena_watcher',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-list-alt"></i></a></td>

									</tr>
									</foreach>
								</tbody>
							</table>
						</div>
						<div class="pagination" style="text-align: center">{$pages}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>

	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		tableresize(1400);
	});
	$(window).resize(function(e){
		tableresize(1400);
	});

</script>
<include file="Public/footer" />
