<include file="Public/header" />
<link rel="stylesheet" href="__HTML__/css/uniform.css" />
<div id="content">
	<div id="content-header">
		<h1>区域管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Game/area')}"
			class="current">区域管理</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i>
						</span>
						<h5>区域管理</h5>

						<a href="{:U('Game/area_edit')}"><span
							class="label btn-success"><i class="icon-plus icon-white"></i>
								新增区域</span></a>

					</div>
					<div class="widget-content">
						<div class="cont_max">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th width="60">ID</th>
										<th width="80">名称</th>
										<th width="80">状态</th>
										<th width="80">级别</th>
										<th width="200">测速服务器</th>
										<th width="200">备用测速服务器地址</th>
										<th width="80">测速端口</th>
										<th width="200">GSM服务器地址</th>
										<th width="80">GSM端口</th>
										<th width="200">备注</th>
										<th width="100" class="taskOptions">设置渠道白名单</th>
										<th width="40" class="taskOptions">编辑</th>
										<th width="40" class="taskOptions">删除</th>
									</tr>
								</thead>
								<tbody>
									<foreach name="Area" item="row">
									<tr>
										<td>{$row.id}</td>
										<td>{$row.name}</td>
										<td>{$row.status}</td>
										<td>{$row.level}</td>
										<td>{$row.speed_test_addr}</td>
										<td>{$row.speed_test_addr_backup}</td>
										<td>{$row.speed_test_port}</td>
										<td>{$row.gsm_addr}</td>
										<td>{$row.gsm_port}</td>
										<td>{$row.note}</td>
											<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Region/set_pid',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-pencil"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('Game/area_edit',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-pencil"></i></a></td>
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:ConfirmDel('{:U('Delete/area',array('id'=>$row['id']))}');"
											class="tip-top" data-original-title="Delete" title="Delete"><i
												class="icon-remove"></i></a></td>
									</tr>
									</foreach>
								</tbody>
							</table>
						</div>
						<div class="pagination" style="text-align: center">{$pages}</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	tableresize(1400);
});
$(window).resize(function(e){
	tableresize(1400);
});
</script>
<include file="Public/footer" />