<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>客户端版本管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Game/clientver')}"
			class="current">客户端版本管理</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>

	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span12">
				<div class="sousuo">
					<form class="form-horizontal" action="" method="post"
						id="searchform">
						<input type="hidden" name="m" value="System"> <input
							type="hidden" name="a" value="clientver">
						<table rules="none" border="0">
							<tbody>
								<tr>
									<td style="padding-right: 0"><select name="product">
											<option value="">请选择</option>
											<option value="0"
												<php>if($product === '0'){echo "selected";}</php>
												>大厅
											</option>
											<option value="1"
												<php>if($product === '1'){echo "selected";}</php>
												>擂台
											</option>
									</select></td>
									<td style="padding-right: 0"><select name="client_type">
											<option value="">请选择</option>
											<option value="0"
												<php>if($client_type === '0'){echo "selected";}</php>
												>Android
											</option>
											<option value="1"
												<php>if($client_type === '1'){echo "selected";}</php>
												>Win32
											</option>
									</select></td>
									<td style="padding-right: 0"><input type="text" name="pid"
										value="<?php if($pid){ echo $pid;}else{ echo 'PID';} ?>"
										onBlur="blur_input(this,'PID')"
										onClick="click_input(this,'PID')"></td>
									<td style="padding-right: 0"><input type="text" name="ver"
										value="<?php if($ver){ echo $ver;}else{ echo '版本号';} ?>"
										onBlur="blur_input(this,'版本号')"
										onClick="click_input(this,'版本号')"></td>
									<td>
										<button class="btn btn-success"
											onClick="javascript:$('#searchform').submit();">
											<i class="icon-search icon-white"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i>
						</span>
						<h5>客户端版本管理</h5>
						 <a
							href="{:U('Game/clientver_edit')}"><span
							class="label btn-success"><i class="icon-plus icon-white"></i>
								新增客户端版本</span></a>
					</div>
					<div class="widget-content">
						<div class="cont_max">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th width="10">ID</th>
										<th width="50">产品类型</th>
										<th width="50">客户端类型</th>
										<th width="20">PID（渠道）</th>
										<th width="20">版本</th>
										<th width="40">版本名</th>
										<th width="40">升级</th>
										<th width="400">描述</th>
										<th width="300">下载URL</th>
										<th width="100">创建时间</th>
										<th width="100">更新时间</th>
										<th width="100">备注</th>
										
										<th width="40" class="taskOptions">编辑</th>
										
									</tr>
								</thead>
								<tbody>
									<foreach name="Clientver" item="row">
									<tr>
										<td>{$row.id}</td>
										<td><php>if($row['product'] == '0'){echo
											'大厅';}elseif($row['product'] == '1'){echo '擂台';}</php></td>
										<td><php>if($row['client_type'] == '0'){echo
											'Android';}elseif($row['client_type'] == '1'){echo 'Win32';}</php></td>
										<td>{$row.pid}</td>
										<td>{$row.ver}</td>
										<td>{$row.name}</td>
										<td><php>if($row['force_update'] == '0'){echo '<span
												class="black">内部升级</span>';}elseif($row['force_update'] ==
											'1'){echo '<span class="black">正常升级</span>';}elseif($row['force_update']
											== '2'){echo '<span class="red">强制升级</span>';}</php></td>
										<td>{$row.desc}</td>
										<td>{$row.url}</td>
										<td>{$row.create_time|date='Y-m-d H:i:s',###}</td>
										<td>{$row.update_time|date='Y-m-d H:i:s',###}</td>
										<td>{$row.note}</td>
										
										<td class="taskOptions"><a href="javascript:;"
											onClick="javascript:window.location.href='{:U('clientver_edit',array('id'=>$row['id']))}';"
											class="tip-top" data-original-title="Update" title="Update"><i
												class="icon-pencil"></i></a></td>
										
									</tr>
									</foreach>
								</tbody>
							</table>
						</div>
						<div class="pagination" style="text-align: center">{$pages}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	tableresize(1400);
});
$(window).resize(function(e){
	tableresize(1400);
});
</script>

<include file="Public/footer" />
