<include file="Public/header"/>

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
	
		<div id="content">
			<div id="content-header">
				<h1>邀请码管理</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('Code/code')}" class="current">邀请码管理</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);"  class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
                
				<div class="row-fluid">
					<div class="span12">
                    	<div class="sousuo">
                        <form class="form-horizontal" action="" method="post" id="searchform">
                        <table rules="none" border="0">
                            <tbody>
                            	<tr>
                                    <td class="searchselect">
                                    <select name="type">
                                        <option value="">是否激活</option>
                                        <option value="1" <?php if($type==1){ echo 'selected';} ?> >已激活</option>            
                                        <option value="2" <?php if($type==2){ echo 'selected';} ?>>未激活</option>            
                                    </select>
                                    </td>
                                    <td>
                                    <input type="text" name="creator"  value="<?php if($creator){ echo $creator;}else{ echo '创建人';} ?>" onBlur="blur_input(this,'创建人')" onClick="click_input(this,'创建人')">
                                    </td>
                                    <td>
                                    <input type="text" name="code"  value="<?php if($code){ echo $code;}else{ echo '激活码';} ?>" onBlur="blur_input(this,'激活码')" onClick="click_input(this,'激活码')">
                                    </td>
                                    <td>
                                    <button class="btn btn-success" onClick="javascript:$('#searchform').submit();"><i class="icon-search icon-white"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                        </form>
                        </div>
                        <div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
								<h5>邀请码管理</h5>
                           
                                <a href="{:U('Export/code',array('type'=>$type,'creator'=>$creator,'code'=>$code))}"  class="phonenone"><span class="label btn-warning"><i class=" icon-download-alt icon-white"></i> 导出</span></a>
                              
                                
                                <a href="{:U('Code/code_edit')}"><span class="label btn-success"><i class="icon-plus icon-white"></i> 生成邀请码</span></a>
                              
							</div>
							<div class="widget-content">
                            	<div class="cont_max">
								<table class="table table-bordered table-striped with-check" id="maxtable" >
									<thead>
										<tr>
                                            <th width="100">邀请码</th>
											<th width="100">创建人</th>
                                            <th width="150">创建时间</th>
                                            <th width="300">激活用户</th>
                                            <th width="120">激活时间</th>
											<th width="120">到期日期</th>
										</tr>
									</thead>
									<tbody>
                                    <foreach name="Codes" item="row">
										<tr>
                                            <td><?php if($row['bind_time']){ echo '<span class="gray">';}else{ echo '<span class="blue">';} ?>{$row.code}</span></td>
											<td>{$row.creator}</td>
                                            <td><?php if($row['create_time']){ echo (date('Y-m-d H:i:s',$row['create_time']));} ?></td>
                                            <td>{$row.bind_device_uuid}</td>
                                            <td><?php if($row['bind_time']){ echo (date('Y-m-d',$row['bind_time']));} ?></td>
                                            <td><?php if($row['user_expire_time']){ echo (date('Y-m-d',$row['user_expire_time']));} ?></td>
										</tr>
                                    </foreach>										
									</tbody>
								</table>	
                                </div>
                                <div class="pagination" style="text-align:center">{$pages}</div>	
                            
                                					
							</div>
                            
                            
						</div>
                        
                        	
					</div>
				</div>
				

				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
                
			</div>
		</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	tableresize(900);
});
$(window).resize(function(e){
	tableresize(900);
});
</script>
            
<include file="Public/footer" />
