<include file="Public/header" />
<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>生成兑换券</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Code/exchange')}"
			class="current">特殊卡管理</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-pencil"></i></span>
						<h5>编辑兑换券</h5>

						<a href="{:U('Code/exchange')}"><span
							class="label btn-primary"><i
								class=" icon-list-alt icon-white"></i> 特殊卡管理</span></a>

					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post"
							action="{:U('Code/exchange_edit')}"
							onsubmit="return check_data();" name="basic_validate"
							id="basic_validate" enctype="multipart/form-data" novalidate>
							<input type="hidden" name="dosubmit" value="1" /> <input
								type="hidden" name="type_mark" id="type_mark"
								value="{$row.type_mark}" />
							<div class="control-group">
								<label class="control-label">类别</label>
								<div class="controls">
									<select name="info[type_id]" id="type_id"
										onchange="type_change();">
										<option value="">选择类别</option>
										<foreach name="typelist" item="v">
										<option value="{$v.type_id}"<?php
											if($row['type_id']==$v['type_id']){ echo
											'selected';}?>>{$v.type_name}</option>
										</foreach>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">渠道：</label>
								<div class="controls">
									<select name="info[pid]" id="pid">
										<option value="">请选择渠道</option>
										<foreach name="dealerlist" item="v">
										<option value="{$v.id}"<?php
											if($v['id']==$row['pid']) echo 'selected'; ?>
											>{$v.dealer_name}</option>
										</foreach>
									</select>
								</div>
							</div>
							<if condition="!$row">
							<div class="control-group">
								<label class="control-label">批次</label>
								<div class="controls">
									<input type="text" name="card_id_prefix" id="card_id_prefix"
										style="float: left;" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">生成数量</label>
								<div class="controls">
									<input type="text" name="codenum" id="codenum" />
								</div>
							</div>
							</if>
							<if condition="$row">
							<div class="control-group">
								<label class="control-label">兑换券卡号</label>
								<div class="controls">
									<input type="text" value="{$row.card_id}" readonly />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">兑换券密码</label>
								<div class="controls">
									<input type="text" value="{$row.card_pass}" readonly />
								</div>
							</div>
							</if>
							<div class="form-actions">
								<input type="submit" value="保存" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		$('.datepicker').datepicker();
	});

	$(document).ready(function() {
		$.formValidator.initConfig({
			autotip : true,
			formid : "basic_validate",
			onerror : function(msg) {
			}
		});
		$("#codenum").formValidator({
			onshow : "请输入生成数量",
			onfocus : "请输入生成数量"
		}).inputValidator({
			min : 1,
			onerror : "请输入生成数量!"
		});
		$("#card_id_prefix").formValidator({
			onshow : "请输入批次",
			onfocus : "请输入批次"
		}).inputValidator({
			min : 6,
			max : 6,
			onerror : "请输入批次(默认6位)!"
		});
	});

	function type_change() {
		var type_id = $("#type_id").val();
		if (type_id != '0') {
			var url = "{:U('Code/exchange_type_mark')}";
			$.post(url, {
				"type_id" : type_id
			}, function(data) {
				if (data == '1') {
					$("#codenum").attr("readonly", "1");
					$("#codenum").val("1");
				} else {
					$("#codenum").attr("readonly", false);
					$("#codenum").val("2");
				}
				$("#type_mark").val(data);
			});
		}
	}

	function check_data() {
		var type_id = $("#type_id").val();
		var pid = $("#pid").val();
		if (type_id == '' || pid == '') {
			alert("请选择类型或者渠道!");
			return false;
		}
		return true;
	}
</script>
<include file="Public/footer" />