<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
	
		<div id="content">
			<div id="content-header">
				<h1>特殊卡类别管理</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="{:U('Code/exchange')}" class="current">特殊卡管理</a>
                <a href="{:U('Code/exchange_type')}" class="current">特殊卡类别管理</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
   				<div class="row-fluid">
					<div class="span12">
                        <div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-leaf"></i></span>
								<h5>特殊卡类别管理</h5>
                              
                                <a href="{:U('Code/exchange_type_edit')}"><span class="label btn-success"><i class="icon-plus icon-white"></i> 添加类别</span></a>
                                
                              
                                <a href="{:U('Code/exchange_edit')}"><span class="label btn-success"><i class="icon-plus icon-white"></i> 生成兑换券</span></a>
                               
							</div>
							<div class="widget-content">
                            	<div class="cont_max">
								<table class="table table-bordered table-striped with-check" id="maxtable">
									<thead>
										<tr>
                                        	<th>编号</th>
											<th>类别名称</th>
                                            <th>类型标识</th>
                                            <th>计费点</th>
											<th>来源</th>
                                            <th>开启时间</th>
                                            <th>过期时间</th>
                                            <th>可使用次数</th>
                                            <th>会员的使用次数</th>
                                            <th>剩余使用次数</th>
                                            <th width="40" class="taskOptions">使用人列表</th>
                                     
                                            <th width="40" class="taskOptions">编辑</th>
                                            
                                           
                                            <th width="40" class="taskOptions">删除</th>
                                            
										</tr>
									</thead>
									<tbody>
                                    <foreach name="typelist" item="row">
										<tr>
                                        	<td>{$row.type_id}</td>
											<td>{$row.type_name}</td>
                                            <td><?php if($row['type_mark']==1){ echo '一码多次'; }else{echo '多码多次';}?></td>
                                            <td>{$row.name}</td>
											<td>{$row.source}</td>
                                            <td><if condition="$row['valid_time']">{$row.valid_time|date='Y-m-d',###}</if></td>
                                            <td><if condition="$row['expire_time']">{$row.expire_time|date='Y-m-d',###}</if></td>
                                            <td><?php if($row['num']!=0){ echo $row['num']; }else{echo "无限制";}?></td>
                                            <td><?php if($row['account_make_num']!=0){ echo $row['account_make_num']; }else{echo "无限制";}?></td>
                                            <td><?php if($row['surplus_num']!=0 && $row['num']!=0){ echo $row['surplus_num']; }else{echo "无限制";}?></td>
                                         
                                            <td class="taskOptions">
                                                <a href="javascript:;" onClick="javascript:window.location.href='{:U('Code/show_record',array('type_id'=>$row['type_id']))}';" class="tip-top" data-original-title="Update" title="Update"><i class="icon-list-alt"></i></a>
                                            </td>
                                           
                                          
                                            <td class="taskOptions">
                                            	<a href="javascript:;" onClick="javascript:window.location.href='{:U('Code/exchange_type_edit',array('id'=>$row['type_id']))}';" class="tip-top" data-original-title="Update" title="Update"><i class="icon-pencil"></i></a>
                                            </td>
                                            
                                            
                                            <td class="taskOptions">
                                                <a href="javascript:;" onClick="javascript:ConfirmDel('{:U('Delete/exchange_type',array('id'=>$row['type_id']))}');" class="tip-top" data-original-title="Delete" title="Delete"><i class="icon-remove"></i></a>
                                            </td>
                                            
										</tr>
                                    </foreach>										
									</tbody>
								</table>
                                </div>	
                                <div class="pagination" style="text-align:center">{$pages}</div>	  					
							</div> 
						</div>
                        
					</div>
				</div>
				

				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div> 
			</div>
		</div>


<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		$('.datepicker').datepicker();
	});
	$(document).ready(function(e) {
		tableresize(1600);
	});
	$(window).resize(function(e){
		tableresize(1600);
	});
</script>
<include file="Public/footer" />