<include file="Public/header" />
<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>{$pid} - 编辑游戏黑名单</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> 
			{$pid} - 设置游戏 <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-pencil"></i></span>
						<h5>{$pid} - 设置游戏</h5>

						

					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post"
							action="" name="basic_validate"
							id="basic_validate" enctype="multipart/form-data" novalidate>
							<input type="hidden" name="dosubmit" value="1" /> <input
								type="hidden" name="pid" value="{$pid}" />
							<div class="control-group">
								<label class="control-label">渠道名称</label>
								<div class="controls">
									<input type="text" readonly value="{$pid}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">游戏操作</label>
								<div class="controls">
									<foreach name="gamelist" item="gm">
									<div class="gameunit">
										<input type="checkbox" name="info[]"<?php
										if(in_array($gm['game_id'],$deny_game)){ echo 'checked';} ?>
										value="{$gm.game_id}"> {$gm.game_name}
									</div>
									</foreach>
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" value="保存" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>

<include file="Public/footer" />