<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
<div id="content">
	<div id="content-header">
		<h1>存档复制</h1>
	</div>
	<br>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a
			href="{:U('Tools/copy_gamesave_show')}" class="current">存档复制</a> <a
			href="javascript:;" onClick="javascript:history.go(-1);"
			class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i>
			返回</a>
	</div>
	<br>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"><i class="icon-pencil"></i></span>
			<h5>存档复制</h5>

		</div>
		<div class="widget-content nopadding">
			<form action="{:U('Tools/copy_gamesave_sale')}" method="post"
				class="dropzone dz-clickable" enctype="multipart/form-data"
				onsubmit="javascript:return checkForm()">
				<br>
				<div class="control-group chargepoint_gamepack"
					style="margin-left: 50px;">
					<label class="control-label game_save_id">请填入任意存档ID：</label>
					<div class="controls">
						<input type="text" name="save_id" id="save_id"
							onblur="check_saveid()" /><span style="display: none" id="s_id"></span>
					</div>
				</div>

				<div class="control-group account_id" style="margin-left: 50px;">
					<label class="control-label">请填入目标账户ID：</label>
					<div class="controls">
						<input type="text" name="account_id" id="account_id"
							onblur="check_actid()" /><span style="display: none" id="a_id"></span>
					</div>
				</div>


				<div class="form-actions">
					<input type="submit" value="复制" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>




	<div class="row-fluid">
		<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
	</div>
</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script src="__HTML__/js/jquery.easyui.min.js"></script>
<script>
	var flag = 0;
	var intger = /^([1-9]\d+|[0-9])$/; //正整数验证
	function check_saveid() {
		var save_id = $('#save_id').val()//存档id
		if (save_id == "") {
			$('#s_id').attr("style", "display:block");
			$('#s_id').html("<font color='red'>请填入存档id</font>");
			flag = 0;
			return false;
		}
		if (!intger.test(save_id)) {
			$('#s_id').html("<font color='red'>请填入正确的数值！</font>");
			flag = 0;
			return false;
		}
		$.ajax({
			url : "__ROOT__/op.php?m=Admin&c=Tools&a=check_saveid_exist",
			data : {
				"save_id" : save_id
			},
			type : "post",
			success : function(e) {
				{
					if (e == 404) {
						$('#s_id').attr("style", "display:block");
						$('#s_id').html(
								"<font color='red'>该存档id" + save_id
										+ "不存在</font>");
						flag = 0;
						$("#s_id").focus();
						return false;
					}
					$('#s_id').html("<font color='green'>√</font>");
					flag = 1;
					return true;
				}
			}
		})
	}
	var flag1 = 0;
	function check_actid() {
		var account_id = $('#account_id').val()//存档id
		if (account_id == "") {
			$('#a_id').attr("style", "display:block");
			$('#a_id').html("<font color='red'>请填入账户id</font>");
			flag1 = 0;
			return false;
		}
		if (!intger.test(account_id)) {
			$('#a_id').html("<font color='red'>请填入正确的数值！</font>");
			flag1 = 0;
			return false;
		}
		$.ajax({
			url : "__ROOT__/op.php?m=Admin&c=Tools&a=check_actid_exist",
			data : {
				"account_id" : account_id
			},
			type : "post",
			success : function(e) {
				{
					if (e == 404) {
						$('#a_id').attr("style", "display:block");
						$('#a_id').html(
								"<font color='red'>该账户id" + account_id
										+ "不存在</font>");
						flag1 = 0;
						$("#a_id").focus();
						return false;
					}
					$('#a_id').html("<font color='green'>√</font>");
					flag1 = 1;
					return true;
				}
			}
		})
	}
	//表单验证
	function checkForm() {
		if (check_saveid() == false && check_actid() == false) {
			return false;
		}
		if (flag != 1) {
			return false;
		}
		if (flag1 != 1) {
			return false;
		}
		return true;

	}
</script>
<script type="text/javascript">
	$(document).ready(function(e) {
		tableresize(400);
	});
	$(window).resize(function(e) {
		tableresize(400);
	});
</script>
<include file="Public/footer" />
