<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>游戏存档迁移管理</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Tools/move_user_info')}"
			class="current">游戏存档迁移管理</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6" id="gamepack">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i>
						</span>
						<h5>新系统账户查询:</h5>
						<!-- 搜索 -->
						<div style="width: 80%; margin: auto; display: inline;">
							<div class="form-horizontal" action="" method="get"
								id="newsearchform">
								<table rules="none" border="0">
									<tbody>
										<tr>
											<td style="padding-right: 0"><input type="text"
												name="account_id"
												value="<?php if($account_id){ echo $account_id;}else{ echo 'ACCOUNTID';} ?>"
												onBlur="blur_input(this,'ACCOUNTID')"
												onClick="click_input(this,'ACCOUNTID')"></td>
											<td style="padding-right: 0"><input type="text"
												name="device_id"
												value="<?php if($device_id){ echo $device_id;}else{ echo '设备ID';} ?>"
												onBlur="blur_input(this,'设备ID')"
												onClick="click_input(this,'设备ID')"></td>
											<td>
												<button id="new_submit" class="btn btn-success">
													<i class="icon-search icon-white"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 搜索 -->
					</div>
					<div class="widget-content">
						<div class="cont_max">
							<form action="" name="game_pack" method="post">
								<table class="table table-bordered table-striped with-check"
									id="maxtable">
									<thead>
										<tr>
											<th width="80">用户账号</th>
											<th width="120">用户设备</th>
										</tr>
									</thead>
									<tbody>
										<tr class="new_res" style="display: none;"></tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="span6" id="games_pack_name">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i></span>
						<h5>旧系统账户查询:</h5>
						<!-- 搜索 -->
						<div style="width: 80%; margin: auto; display: inline;">
							<div class="form-horizontal" action="" method="get"
								id="oldsearchform">
								<table rules="none" border="0">
									<tbody>
										<tr>
											<td style="padding-right: 0"><input type="text"
												name="account_id"
												value="<?php if($account_id){ echo $account_id;}else{ echo 'ACCOUNTID';} ?>"
												onBlur="blur_input(this,'ACCOUNTID')"
												onClick="click_input(this,'ACCOUNTID')"></td>
											<td style="padding-right: 0"><input type="text"
												name="device_id"
												value="<?php if($device_id){ echo $device_id;}else{ echo '设备ID';} ?>"
												onBlur="blur_input(this,'设备ID')"
												onClick="click_input(this,'设备ID')"></td>
											<td>
												<button id="old_submit" class="btn btn-success">
													<i class="icon-search icon-white"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 搜索 -->
					</div>
					<div class="widget-content">
						<div class="cont_max">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th>用户设备</th>
										<th>游戏存档</th>
										<th>游戏ID</th>
										<th width="80" class="taskOptions">最新存档时间</th>
									</tr>
								</thead>
								<tbody>
									<tr class="old_res" style="display: none;"></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 游戏存档迁移及结果 -->
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i>
						</span>
						<h5>游戏文档迁移结果：</h5>
						<!-- 搜索 -->
						<div style="width: 80%; margin: auto; display: inline;">
							<div class="form-horizontal" action="" method="get"
								id="move_save_file">
								<table rules="none" border="0">
									<tbody>
										<tr>
											<td style="padding-right: 0"><input type="text"
												name="device_id"
												value="<?php if($device_id){ echo $device_id;}else{ echo '设备ID';} ?>"
												onBlur="blur_input(this,'设备ID')"
												onClick="click_input(this,'设备ID')"></td>
											<td style="padding-right: 0"><input type="text"
												name="game_id"
												value="<?php if($game_id){ echo $game_id;}else{ echo 'GAMEID';} ?>"
												onBlur="blur_input(this,'GAMEID')"
												onClick="click_input(this,'GAMEID')"></td>
											<td style="padding-right: 0"><input type="text"
												name="account_id"
												value="<?php if($account_id){ echo $account_id;}else{ echo 'ACCOUNTID';} ?>"
												onBlur="blur_input(this,'ACCOUNTID')"
												onClick="click_input(this,'ACCOUNTID')"></td>
											<td><input id="save_submit" type="submit"
												class="btn btn-primary" value="保存"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 搜索 -->
					</div>
					<div class="widget-content">
						<div class="cont_max">
							<table class="table table-bordered table-striped with-check"
								id="maxtable">
								<thead>
									<tr>
										<th>ID</th>
										<th>游戏ID</th>
										<th>游戏存档名</th>
										<th>游戏存档序列ID</th>
										<th>上传时间</th>
										<th>文档大小</th>
										<th>文档md5</th>
									</tr>
								</thead>
								<tbody>
									<tr class="move_res" style="display: none;"></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 游戏存档迁移end -->
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>
<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script src="__HTML__/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(e) {
		tableresize(400);
	});
	$(window).resize(function(e) {
		tableresize(400);
	});
</script>

<script type="text/javascript">
	$('#new_submit').click(function() {
		var account_val = $("#newsearchform input[name='account_id']").val();
		var device_val = $("#newsearchform input[name='device_id']").val();
		$.get("./op.php?m=Tools&a=new_sys_account_info", {
			account_id : account_val,
			device_id : device_val
		}, function(data) {
			html = "<tbody>" + data + "</tbody>";
			$(".new_res").parent().replaceWith(html);
		});
	});
	$('#old_submit').click(function() {
		var account_val = $("#oldsearchform input[name='account_id']").val();
		var device_val = $("#oldsearchform input[name='device_id']").val();
		$.get("./op.php?m=Tools&a=old_sys_game_list", {
			account_id : account_val,
			device_id : device_val
		}, function(data) {
			html = "<tbody>" + data + "</tbody>";
			$(".old_res").parent().replaceWith(html);
		});
	});
	$('#save_submit').click(function() {
		var account_val = $("#move_save_file input[name='account_id']").val();
		var device_val = $("#move_save_file input[name='device_id']").val();
		var game_val = $("#move_save_file input[name='game_id']").val();
		if (device_val == "设备ID") {
			alert("请输入设备ID");
			return false;
		}
		if (game_val == "GAMEID") {
			alert("请输入GAMEID");
			return false;
		}
		if (account_val == "ACCOUNTID") {
			alert("请输入账号");
			return false;
		}
		$.get("./op.php?m=Tools&a=move_user_info_res", {
			account_id : account_val,
			game_id : game_val,
			device_id : device_val
		}, function(data) {
			html = "<tbody>" + data + "</tbody>";
			$(".move_res").parent().replaceWith(data);
		});
	});
</script>
<include file="Public/footer" />
