<include file="Public/header" />
<script type="text/javascript">
	$(document).ready(function() {
		$.formValidator.initConfig({
			autotip : true,
			formid : "basic_validate",
			onerror : function(msg) {
			}
		});
		$("#id").formValidator({
			onshow : "请输入服务器ID",
			onfocus : "请输入服务器ID"
		}).inputValidator({
			min : 1,
			onerror : "请输入服务器ID！"
		});
		$("#region_id").formValidator({
			onshow : "请输入区域ID",
			onfocus : "请输入区域ID"
		}).inputValidator({
			min : 1,
			onerror : "请输入区域ID！"
		});
		$("#status").formValidator({
			onshow : "状态：默认正常为1",
			onfocus : "请输入状态"
		}).inputValidator({
			min : 1,
			onerror : "请输入状态！"
		});
		$("#ip").formValidator({
			onshow : "请输入连接GSM的IP",
			onfocus : "请输入连接GSM的IP"
		}).inputValidator({
			min : 1,
			onerror : "请输入连接GSM的IP！"
		});

		$("#nat_ip").formValidator({
			onshow : "请输入本机IP",
			onfocus : "请输入本机IP"
		}).inputValidator({
			min : 1,
			onerror : "请输入本机IP！"
		});
		$("#wan_ip").formValidator({
			onshow : "请输入供客户端连接的IP",
			onfocus : "请输入供客户端连接的IP"
		}).inputValidator({
			min : 1,
			onerror : "请输入供客户端连接的IP！"
		});
		$("#gs_num").formValidator({
			onshow : "请输入GS个数",
			onfocus : "请输入GS个数"
		}).inputValidator({
			min : 1,
			onerror : "请输入GS个数！"
		});
		$("#total_cpu_capacity").formValidator({
			onshow : "请输入CPU总容量",
			onfocus : "请输入CPU总容量"
		}).inputValidator({
			min : 1,
			onerror : "请输入CPU总容量！"
		});
		$("#per_gpu_capacity").formValidator({
			onshow : "请输入单个GPU容量",
			onfocus : "请输入单个GPU容量"
		}).inputValidator({
			min : 1,
			onerror : "请输入单个GPU容量！"
		});
		$("#per_vpu_capacity").formValidator({
			onshow : "请输入单个VPU容量",
			onfocus : "请输入单个VPU容量"
		}).inputValidator({
			min : 1,
			onerror : "请输入单个VPU容量！"
		});
		$("#begin_wan_port").formValidator({
			onshow : "请输入外网起始端口",
			onfocus : "请输入外网起始端口"
		}).inputValidator({
			min : 1,
			onerror : "请输入外网起始端口！"
		});
		$("#begin_gs_listening_port").formValidator({
			onshow : "请输入GS起始端口",
			onfocus : "请输入GS起始端口"
		}).inputValidator({
			min : 1,
			onerror : "请输入GS起始端口！"
		});

	});
</script>
<link rel="stylesheet" href="__HTML__/css/uniform.css" />

<div id="content">
	<div id="content-header">
		<h1>编辑账户</h1>
	</div>
	<div id="breadcrumb">
		<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i
			class="icon-home"></i> 后台首页</a> <a href="{:U('Account/edit')}"
			class="current">编辑账户</a> <a href="javascript:;"
			onClick="javascript:history.go(-1);" class="tip-bottom" id="gotoback"><i
			class="icon-share-alt"></i> 返回</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-pencil"></i></span>
						<h5>编辑账户</h5>
						<a href="{:U('Account/index')}"><span
							class="label btn-primary"><i
								class=" icon-list-alt icon-white"></i> 账户管理</span></a>
					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post" action=""
							name="basic_validate" id="basic_validate"
							enctype="multipart/form-data" novalidate>
							<input type="hidden" name="dosubmit" value="1" /> <input
								type="hidden" name="account_id" value="{$row.id}" />
							<div class="control-group">
								<label class="control-label">ID</label>
								<div class="controls">
									<input type="text" name="info[id]" value="{$row.id}" readonly />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">昵称</label>
								<div class="controls">
									<input type="text" name="info[nickname]"
										value="{$row.nickname}" id="nickname" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">是否启用</label>
								<div class="controls">
									<input type="text" name="info[status]" value="{$row.status}"
										id="nickname" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">手机</label>
								<div class="controls">
									<input type="text" name="info[bind_phone]"
										value="{$row.bind_phone}" id="bind_phone" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">邮箱</label>
								<div class="controls">
									<input type="text" name="info[bind_email]"
										value="{$row.bind_email}" id="bind_email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">级别</label>
								<div class="controls">
									<input type="text" name="info[level]" value="{$row.level}"
										id="level" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">经验</label>
								<div class="controls">
									<input type="text" name="info[exp]" value="{$row.exp}" id="exp" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">云豆</label>
								<div class="controls">
									<input type="text" name="info[bean]"
										value="{$row.bean}" id="bean" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">云贝</label>
								<div class="controls">
									<input type="text" name="info[gift_coin_num]"
										value="{$row.gift_coin_num}" id="gift_coin_num" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">G币</label>
								<div class="controls">
									<input type="text" name="info[gold]"
										value="{$row.gold}" id="gold" />
								</div>
							</div>
							<div class="form-actions">
								<input type="submit" value="保存" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div id="footer" class="span12">{:C('SEO_COPYRIGHT')}</div>
		</div>
	</div>
</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>


<include file="Public/footer" />