<include file="Public/header" />

<link rel="stylesheet" href="__HTML__/css/uniform.css" />
	
		<div id="content">
			<div id="content-header">
				<h1>每日统计</h1>
			</div>
			<div id="breadcrumb">
				<a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 后台首页</a>
				<a href="javascript:;" class="current">每日统计</a>
                <a href="javascript:;" onClick="javascript:history.go(-1);" title="Go to Back" class="tip-bottom" id="gotoback"><i class="icon-share-alt"></i> 返回</a>
			</div>
            
			<div class="container-fluid">
                          
				<div class="row-fluid">
					<div class="span12">
						
                        
                        
                        <!--一个通栏BOX-->
                        <div class="row-fluid phonenone" style="margin-top:-5px;">
                            <div class="span12">
                                <div class="widget-box widget-calendar">
                                    <div class="widget-title">
                                    	<span class="icon"><i class="icon-random"></i></span>
                                        <h5 id="charttitle">近半月数据</h5>
                                    </div>
                                    <div class="widget-content nopadding" style="overflow:hidden;">
                                        <div class="chartcontent" id="container_1"></div>
                                        <div class="chartcontent" id="container_2" style="display:none;"></div>
                                        <div class="chartcontent" id="container_3" style="display:none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--一个通栏BOX-->      
                        
                        
                        <div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-leaf"></i></span>
								<h5>每日统计明细</h5>
                                
                                <a href="{:U('Export/dailychart',array('city'=>$city,'startdate'=>$startdate,'enddate'=>$enddate))}"><span class="label btn-warning"><i class=" icon-download-alt icon-white"></i> 导出</span></a>
                                
							</div>
							<div class="widget-content">
                            	<div class="cont_max">
								<table class="table table-bordered table-striped with-check" id="maxtable">
									<thead>
										<tr>
											<th>日期</th>
                                            <th>当日新增用户</th>
                                            <th>当日新增设备</th>
											<th>当日新增有效用户</th>
											<th>当日最高并发</th>
                                            <th>当日主机游戏次数</th>
                                            <th>当日街机投币次数</th>
                                            <th>当日活跃用户</th>
                                            <th>当日活跃设备</th>
										</tr>
									</thead>
									<tbody>
                                    <foreach name="datalist" item="row">
										<tr>
											<td>{$row.date}</td>
                                            <td>{$row.daily_new_account}</td>
                                            <td>{$row.daily_new_device}</td>
											<td>{$row.daily_new_valid_account}</td>
											<td>{$row.max_concurrent_user}</td>
                                            <td>{$row.daily_console_game}</td>
                                            <td>{$row.daily_insert_coin}</td>
                                            <td>{$row.daily_active_user}</td>
                                            <td>{$row.daily_active_device}</td>
										</tr>
                                    </foreach>										
									</tbody>
								</table>	
                                </div>
                                <div class="pagination" style="text-align:center">{$pages}</div>	  					
							</div> 
						</div>         
                        
                        	
					</div>
				</div>
				

				<div class="row-fluid">
					<div id="footer" class="span12">
						{:C('SEO_COPYRIGHT')}
					</div>
				</div>
                
			</div>
		</div>



<script src="__HTML__/js/jquery.uniform.js"></script>
<script src="__HTML__/js/unicorn.tables.js"></script>
<script src="__HTML__/charts/highcharts.js" type="text/javascript"></script>
<script src="__HTML__/charts/modules/exporting.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(e) {
	var chart;
    chart_user('container_1');
});

//用户统计
function chart_user(id){ 
	//声明报表对象  
	var chart = new Highcharts.Chart({  
		chart: {  
			//将报表对象渲染到层上  
			renderTo: id
		},title: {
			text: '云游戏近半月数据曲线图'
		},credits: {
			 text: '云游戏',
			 href: 'http://www.pyou.com/'
		},xAxis: {
			categories: [<?php echo $yy; ?>],labels:{
				style:{
					font:'normal 12px 宋体',	
				}	
			}
		},yAxis: {
			title: {
				text: ''
			},
			min: 0
		},tooltip: {
			formatter: function() {
				return ''+
					this.x + this.series.name +': '+ this.y +' ';
			}
		}, 
		
		//设定报表对象的初始数据  
		series: [{ 
			name: '当日新增用户', 
			data: [<?php echo $d1; ?>]          
		},{ 
			name: '当日新增设备', 
			data: [<?php echo $d2; ?>]         
		},{ 
			name: '当日新增有效用户', 
			data: [<?php echo $d3; ?>] 
		},{ 
			name: '最高并发', 
			data: [<?php echo $d4; ?>] 
		},{ 
			name: '游戏时间', 
			data: [<?php echo $d5; ?>],
			visible:false                    
		},{ 
			name: '主机游戏', 
			data: [<?php echo $d6; ?>],
			visible:false                    
		},{ 
			name: '投币次数', 
			data: [<?php echo $d7; ?>],
			visible:false                    
		},{ 
			name: '当日活跃', 
			data: [<?php echo $d8; ?>],  
		},{ 
			name: '7天活跃', 
			data: [<?php echo $d9; ?>],
			visible:false                    
		},{ 
			name: '30天活跃', 
			data: [<?php echo $d10; ?>],
			visible:false                    
		}
		]  
	});  
  
} 


$(document).ready(function(e) {
	tableresize(900);
	$('.cont_max').css('width','100%');
});
$(window).resize(function(e){
	tableresize(900);
	$('.cont_max').css('width','100%');
});

</script>

<include file="Public/footer" />
